.App {
  text-align: center;
}


/* Product Advisor Component START*/
.machine-img{
  width: 300px;
}

.customize-order-wrapper > h2 {
  color: #154a66;
}

.machine-card > h2 {
  color: #009ddc;
}

.machine-card > a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #616161;
}

.machine-cards-container {
  display: flex;
  justify-content: center;
}

.customize-order-wrapper:before, .customize-order-wrapper:after {
    display: block;   
    transform: rotate(180deg);
    top: auto;
    bottom: -58px;
    background-color: black;
}
/* Product Advisor Component END*/
/* Customize Per Order Component START*/
.CustomizePerOrder-wrapper {
  background-color: #154a66;
}

.CustomizePerOrder-wrapper > h2 {
  color: white;
}

.CustomizePerOrder-wrapper > p {
  color: rgb(8, 164, 255);
}

/* Customize Per Order Component END*/