.sign-up-form {
    background-color: lightblue;
    padding: 50px;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* position: relative; */
}

.sign-up-block {
    width: 100%;
}

.sign-up-label {
    color: #154a66;
    font-size: 1.2em;
}

.input-row{
    display: flex;
    margin-top: 15px;
    width: 100%;
}

.sign-up-input {
    width: 100%;
    height: 40px;
    display: block;
    margin-right: 14px;
    border-radius: 0;
    border: none;
}

.sign-up-btn {
    background-color: rgb(106, 170, 223); 
    border-radius: 0;
    border: none;
    color: white;
    font-size: 16px;
    padding: 0 15px;
}

@media (min-width: 890px){

    .sign-up-block {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 700px;
    }
    .sign-up-label {
        white-space: nowrap; 
        margin-right: 10px;
        /* flex: 1; */
        /* margin-top: 20px;
        margin-left: 50px; */
    }
    .input-row{
        /* flex: 1 */
    }
}

@media (min-width: 1200px){
    .sign-up-block {
        justify-content: space-around;
    }
    .sign-up-label {
        /* margin-left: 250px; */
    }
    .input-row{
        flex: 1
    }
}