.video-section {
    justify-content: center;
    text-align: center;
    position: relative;
    text-align: center;
    padding: 100px;
    background-color: rgb(43, 148, 233);
}

.frame {
    aspect-ratio: 17 / 9;
}

iframe {
    display: block;
    /* margin: auto; */
    width: 100%;
    height: 100%;
}

